@import url('https://fonts.googleapis.com/css?family=Material+Icons');
*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  
}

#root {
  height: 100vh;
  width: 100vw;
  /* border: 3px solid blue; */
  background-color: #151617;
  padding: 50px;
  
}
.container{
  display: flex;
  padding: 0rem 2rem;
  /* border: 3px solid green; */
  height: 100%;
  border-radius: 10px;
  
}

.board{
  /* height: 100%; */
  padding: 10px;
  margin: 0rem 0.7rem 0 0;
  width: 50%;
  background-color: #07072a;
  color: whitesmoke;
  border: 3px solid darkblue;
  border-radius: 10px;
  text-align: center;
}
.display{
  /* height: 100%; */
  padding: 10px;
  margin: 0rem 0rem 0 0.7rem;
  width: 50%;
  background-color: #07072a;
  color: whitesmoke;
  border: 3px solid darkblue;
  border-radius: 10px;
  text-align: center;
  overflow-y: auto;

}
.title{
  
  padding: 0.81rem;
  margin-bottom: 1rem;
  background-color: #151617;
  /* border: 2px solid gray; */
  box-shadow: 0px 0.02px 6.5px 0.2px gray;
  border-radius: 10px;
}
.title h2{
  padding: 0.5rem;
  border-radius: 10px;
  color: white;
}

.ttt{
  height: 25rem;
  width: 80%;
  padding: 10px;
  margin: 60px auto;
  border: 2px solid gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.row{
  height: 100%;
  width: 100%;
  /* border: 2px solid white; */
  display: flex;
}
.row button{
  height: 100%;
  width: 100%;
  background-color:#35507a;
  color:white;
  text-align: center;
  font-size: 6em;
  padding-bottom: 0.1em;
  
}
.row button:hover{
  background-color: white;
  color: black;
}
.history {
  height: 100%;
  width: 100%;
  /* border: 2px solid white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.history button{
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  font-weight: bolder;
  font-size: large;
  background-color: darkgrey;

}
.history button:hover{
  transform:scale(1.01);
  background-color: white;
  transition:cubic-bezier(5, 0, 0, 5);
}
